/* ----------------- Normalización de variables ----------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");

:root {
  /* Colores */
  --primary-solid: #ff3333;
  --primary-900: rgba(255, 51, 51, 0.9);
  --primary-500: rgba(255, 51, 51, 0.5);
  --primary-300: rgba(255, 51, 51, 0.3);

  --secondary-solid: #1d84b5;
  --secondary-900: rgba(29, 132, 181, 0.9);
  --secondary-500: rgba(29, 132, 181, 0.5);
  --secondary-300: rgba(29, 132, 181, 0.3);

  --dark-solid: #1f1f1f;
  --dark-900: rgba(31, 31, 31, 0.9);
  --dark-500: rgba(31, 31, 31, 0.5);
  --dark-300: rgba(31, 31, 31, 0.3);

  --dark-bg-solid: #30343f;
  --light-bg-solid: #fafaff;
  --light-font-solid: #ffffff;

  /* Tipografías */

  --base-font: "Inter", sans-serif;
  --alternative-font: "Raleway", sans-serif;

  /* Font-size */

  --font-display: 4.6em; /* Recordando que en los estilos de la etiqueta html pusimos 1em = 10px */
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Spacings */

  --spacing-128: 12.8rem; /* 1rem = 10px */
  --spacing-68: 6.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Las opciones son border-box y content-box. Box-sizing toma el tamaño del elemento y haciendo box-sizing:border-box la caja va a tener el ancho determinado y si se le agrega un margin éste será tomado desde los bordes de la caja hacia adentro. Si uso content-box al agregar margin éstos se calculan desde el borde de la caja hacia AFUERA, lo que puede traer desajustes en los achos y dependiendo de los anchos que manejo dos elementos que antes estaban uno al lado dle otro con un content-box pueden terminar uno arriba dle otro. */
}

/* Todos los estilos que usemos para la etiqueta html y sean heredables será heredado por todos sus hijos (todos son hijos de html) */

html {
  font-size: 62.5%; /* (equivale a 10px), 1em = 10px entonces es más fácil hacer la conversión de las demás medidas en px a em */
  color: var(--dark-solid);
  font-family: var(--base-font);
}

a {
  text-decoration: none;
  color: inherit; /* que tome el color que viene heredado del padre*/
  font-family: inherit; /* que tome la familia tipgráfica que viene heredado del padre*/
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header,
footer {
  color: var(--light-font-solid);
  font-family: var(--alternative-font);
}

img {
  width: 100%; /* las imagenes simepre van a tener el 100% de su contenedor padre */
}

p {
  font-size: 1.8em; /* 1em = 10p, quiero 18px entonces pongo 1,8em */
}

ul,
ol {
  list-style-type: none; /* para que no aparezca ningún bullet */
}

/* ----------------- Fin normalización de variables ----------------- */

/* ----------------- Index ----------------- */

/* Header */

header {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-36);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  max-width: 300px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__link {
  font-size: var(--font-medium);
  padding: var(--spacing-8) var(--spacing-16);
  display: inline-block;
  transition: background 0.3s ease-in-out;
  position: relative; /* para que el submenu en SHOP tenga posición relativa al padre */
}

.navbar__link:hover {
  background-color: var(--primary-900);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
  display: block;
  transition: display 2s ease-in-out;
}

.submenu {
  display: none;
  width: 300px;
  position: absolute; /* para sacarlo del flujo de la página */
  background-color: var(--dark-bg-solid);
  z-index: 3; /* para que se vea el menú desplegable por encima de la capa del hero banner */
}

.submenu__link {
  display: block;
  padding: var(--spacing-8) var(--spacing-16);
  font-size: var(--font-medium);
  transition: background 0.3s ease-in-out;
}

.submenu__link:hover {
  background-color: var(--primary-900);
}

/* HERO (banner) */

.hero {
  background-image: url(../img/funkos-banner.webp);
  background-size: cover; /* Acomoda la imágen al minimo tamaño posible para que ocupe su container */
  background-attachment: fixed; /* cuando hacemos scroll el background queda fijo */
  padding: var(--spacing-128);
  position: relative; /* posición relativa para poder habilitar x index */
}

.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute; /* Para poder ubicarlo en la punta superior izq */
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) brightness(0.9); /* para generar el efceto blur delante de a imagen de background del banner */
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start; /* para cambiar el align-items: stretch que viene por defecto */
  z-index: 2; /* para que se posicione delante del resto */
  position: relative; /* posición relativa para poder habilitar x index */
}

.hero__title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-font-solid);
}

.hero__text {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
  font-size: var(--font-medium);
}

.hero__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
}

.hero__link:hover {
  background-color: var(--primary-900);
  color: var(--light-font-solid);
  transition: all 0.3s ease-in-out;
}

/* Collections */

.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--spacing-16) 0;
}
.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.collection__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
}

.collection__text {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 400;
  border-bottom: 3px solid var(--primary-solid);
  padding-bottom: var(--spacing-20);
}

.collection__link {
  display: inline-block;
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight: 500;
  color: var(--light-font-solid);
  border-radius: 50px;
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-16) var(--spacing-36);
}

.order_1 {
  order: 1;
}

/* Otra forma de poner el orden del segundo elemento al revé que los demás

.collection:nth-child(2) .collection__cover{
  order: -1 

De esta forma el elemento con la clase collection__cover del segundo hijo de la clase collection tendrá un orden -1 (se colocará primero).
  */

.collection__link:hover {
  background-color: var(--primary-900);
  transition: background 0.3s ease-in-out;
}

/* Slide */

.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  margin: var(--spacing-68) auto;
}

.slider__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  text-transform: uppercase; /* ya lo escribí en mayúscula pero así se ve el uso de text-transform */
}

.slider__items {
  display: flex;
  gap: var(--spacing-24);
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.card-item__licence {
  font-size: var(--font-xsmall);
  font-weight: 500;
}

.card-item__name {
  font-size: var(--font-medium);
  font-weight: 700;
}

.card-item__price {
  font-size: var(--font-small);
}

.card-item__promo {
  font-size: var(--font-xsmall);
  color: var(--secondary-solid);
  font-weight: 700;
}

.card-item__cover {
  display: flex;
  position: relative; /* para poder poner right:0 en el card-item__tag (Nuevo) y que se ubique en la esquina superior derecha de la sección de cada slide */
}

.card-item__tag {
  font-family: var(--base-font);
  font-size: var(--font-xsmall);
  text-transform: uppercase;
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-8) var(--spacing-12);
  position: absolute;
  right: 0;
}

.card-item__cover img {
  animation: fade 0.7s;
}
.card-item__cover:hover .card-item__img--back {
  display: block;
}

.card-item__cover:hover .card-item__img--front {
  display: none;
}

.card-item__img--back {
  display: none;
}

/* Animations */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Footer */

.footer {
  background-color: var(--dark-bg-solid);
  padding: var(--spacing-68);
}

.footer__copy {
  text-align: center;
  margin-top: var(--spacing-36);
}

/* ----------------- Shop  ----------------- */

/* Aside */

.shop_collection {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  padding: var(--spacing-16) 0;
  gap: var(--spacing-16);
  justify-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
}

.filter__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-8);
}

.filter__title {
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight: 500;
}

.filter__input {
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
  padding: var(--spacing-8);
  font-family: var(--base-font);
  font-size: var(--font-medium);
  font-weight: 500;
}

.filter__price {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--spacing-16);
}

.filter__price-tag {
  font-family: var(--base-font);
  font-size: var(--font-small);
  font-weight: 500;
  padding-right: var(--spacing-12);
}

.filter__price-value {
  text-align: center;
  width: 60px;
  height: 28px;
}

.filter__options {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  row-gap: var(--spacing-8);
}

.filter__options-tag {
  font-family: var(--base-font);
  font-weight: 500;
  font-size: var(--font-medium);
}

.filter__options-select {
  border: 2px solid var(--primary-solid);
  border-radius: 1px;
  width: 24px;
  height: 24px;
}

/* Main */
