/* ----------------- Archivos externos ----------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");
@import url(" https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css");

/* ----------------- Miscelaneos ----------------- */
@import url("./misc/variables.css");
@import url("./misc/normalize.css");
@import url("./misc/animation.css");

/* ----------------- Partials: Header y footer ----------------- */

@import url("./partials/header.css");
@import url("./partials/footer.css");

/* ----------------- Components ----------------- */

@import url("./components/slider.css");
@import url("./components/card.css");
@import url("./components/form.css");

/* ----------------- Pages ----------------- */
@import url("./pages/home.css");
@import url("./pages/shop.css");
@import url("./pages/items.css");
@import url("./pages/create.css");
@import url("./pages/register.css");
@import url("./pages/login.css");
@import url("./pages/admin.css");
