<%- include('../partials/header') %>
<main class="register container">
  <h2 class="register__title">INGRESAR A MI CUENTA</h2>
  <form action="" class="login__form" method="post">
    <div class="login__form-spacing">
      <label for="" class="register__form-title">Email:</label>
      <input type="text" class="register__form-input" name="email" placeholder="johndoe@correo.com" />
    </div>
    <div class="login__form-spacing">
      <label for="" class="register__form-title">Password:</label>
      <input type="password" name="password" id="" class="register__form-input" placeholder="Password" />
    </div>
    <div class="login__submit">
      <input type="submit" value="Ingresar" class="register__form-submit" />
      <div>
        <input type="checkbox" name="remember" id="" class="register__form-checkbox" />
        <label for="" class="register__form-conditions">Recordarme</label>
      </div>
    </div>
    <a href="" class="login__repassword">Olvidé mi contraseña</a>
  </form>
</main>
<%- include('../partials/footer') %>
