<%- include('../partials/header') %>
<main class="register container">
  <h2 class="register__title">CREA TU CUENTA</h2>
  <h3 class="register__subtitle">Completa el formulario para ser parte del mundo de los Funkos</h3>
  <form action="" class="register__form">
    <div class="register__form-spacing">
      <label for="name" class="register__form-title">Nombre:</label>
      <input type="text" name="name" id="name" placeholder="John" class="register__form-input" required />
    </div>
    <div class="register__form-spacing">
      <label for="apellido" class="register__form-title">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Doe" class="register__form-input" required />
    </div>
    <div class="register__form-spacing">
      <label for="email" class="register__form-title">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="johndoe@correo.com"
        class="register__form-input"
        required />
    </div>
    <div class="register__form-spacing">
      <label for="password" class="register__form-title">Contraseña:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        minlength="8"
        class="register__form-input"
        required />
    </div>
    <div class="register__form-spacing">
      <label for="repassword" class="register__form-title">Repita contraseña:</label>
      <input
        type="password"
        name="repassword"
        id="repassword"
        placeholder="Password"
        minlength="8"
        class="register__form-input"
        required />
    </div>
    <div class="register__form-spacing">
      <input type="submit" value="Registrar" class="register__form-submit" />
      <div>
        <input type="checkbox" name="terminos_y_cond" id="terminos_y_cond" class="register__form-checkbox" />
        <label for="terminos_y_cond" class="register__form-conditions"
          >Acepto <a href="" class="register__form-link">Términos y Condiciones</a>
        </label>
      </div>
    </div>
  </form>
</main>
<%- include('../partials/footer') %>
